@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}

.header{
	width: 100%;
	height: 50px;
	background-color: #212121;
}
.menu{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 13px 70px;
	list-style: none;
}

.menu .menu_item{
	border-right: 2px dotted black;
	padding-right: 30px;	
}

.menu .menu_link{
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
}
.subheader{
	position: sticky;
	height: 84px;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo{
	display: block;
	max-width: 100%;
	margin-top: 16px;

}
.subheader .subheader_official{
	margin-top: 6px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	opacity: 0.5;
}
.subheader_call{
	height: 11px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	margin-top: 20px;
	text-align: right;
}
.subheader .subheader_phone{
	margin-top: 8px;
	display: block;
	color: #ffffff;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
}
.subheader_btn{
	margin-top: 19px;
	width: 172px;
	height: 46px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	color: #ffffff;
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.promo{
	background: url('../img/bkg_promo.png') center center/cover no-repeat;
	min-height: 800px;
	text-align: center;
}
.promo .promo_header{
	margin-top: 150px;
	/* Style for "КОМПАНИЯ U" */
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 400;
	line-height: 24px;
}
.promo .promo_subheader{
	font-weight: 700;
	font-size: 34px;
	color: #ffffff;
	line-height: 70px;
}
.promo .promo_text{
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.promo .promo_btn{
	margin-top: 118px;
	width: 259px;
	height: 63px;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
}

.benefits_header{
	width: 89px;
	padding-top: 8px;
	padding-left: 12px;
	color: #ffffff;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
.benefits_box{
	margin-top: 70px;
	width: 112px;
	height: 30px;
	background-color: #000000;
	margin-bottom: 44px;
	margin-left: 45px;
}
.benefits_subheader{
	color: #222222;
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.benefits .benefits_wallet{
	display: flex;
	margin-bottom: 35px;
	width: 480px;
	height: 141px;
	margin-bottom: 35px;
	margin-left: 130px;
}
.benefits .benefits_wallet_logo{
	width: 113px;
	height: 113px;
	margin-right: 26px;
}
.benefits .benefits_bills{
	width: 341px;
}
.benefits .benefits_bills h3{
	color: #1eacc7;
	font-size: 17px;
	font-weight: 400;
}
.benefits .benefits_bills_descr{
	color: #202020;
	font-size: 14px;
	font-weight: 300;
	line-height: 15px;
}

.mobile{
	background: url(../img/bkg_mobile.png) center center/cover no-repeat;
	width: 100%;
	height: 864px;
	margin-bottom: 80px;
}
.mobile_subheader_descr{
	height: 17px;
	color: #222222;
	font-size: 17px;
	font-weight: 400;
	text-align: center;

}
.mobile .benefits_subheader{
	margin-bottom: 19px;
}
.mobile_box{
	margin-bottom: 19px;
	margin-top: 32px;
	position: relative;
	display: inline-block;
	text-align: center;
}
.mobile_box_descr{
	text-align: center;
	position: absolute;
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	top: 100px;
}
.mobile_box_descr1{
	text-transform: uppercase;
	top: 100px;
	position: absolute;
	font-weight: 400;
	color: #ffffff;
	font-size: 24px;
	right: 45px;
}
.mobile_box_descr2{
	text-transform: uppercase;
	top: 100px;
	position: absolute;
	font-weight: 400;
	color: #ffffff;
	font-size: 24px;
	right: 25px;
}
.opp_text{
	width: 89px;
	padding-top: 8px;
	padding-left: 12px;
	color: #000000;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}
.opp{
	margin-top: 70px;
	width: 112px;
	height: 30px;
	background-color: #ffffff;
	margin-bottom: 44px;
	margin-left: 45px;
}
.car{
	background: url(../img/bkg_car.png)center center/cover no-repeat;
	width: 100%;
	height: 896px;
}
.car_header{
	color: #fff;
	font-size: 38px;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 17px;
}
.car_subheader{
	height: 17px;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 55px;
}
.car_logo{
	background: url(../img/car.png);
	width: 759px;
	height: 480px;
	margin-left: 45px;
	
}
.car_descr{
	text-align: center;
	color: #222222;
	font-size: 17px;
	font-weight: 300;
}

.conditions_own_car_header{
	color: #1ca8c3;
	font-size: 22px;
	font-weight: 400;	
	line-height: 24px;
}
.conditions_own_car_footer{
	color: #1ca8c3;
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 60px;
}
.conditions li{
	list-style-image: url(../icons/tick.png);
	font-weight: 300;
	line-height: 40px;
	font-size: 18px;
}
.conditions_claim li{
	list-style-image: url(../icons/tick_red.png);
	line-height: 40px;
}
.conditions_claim{
	margin-bottom: 85px;
}
.conditions_claim_header{
font-size: 17px;
line-height: 24px;
color: #ff5656;
font-size: 22px;
font-weight: 400;
}

.world{
	background: url(../img/bkg_world.png)center center/cover no-repeat;
	width: 100%;
	height: 800px;
}
.city_text{
	color: #000000;
	font-size: 11px;
	font-weight: 400;
	padding-top: 6px;
	text-align: center;
	text-transform: uppercase;
}
.city{
	margin-top: 70px;
	width: 76px;
	height: 24px;
	background-color: #ffffff;
	margin-bottom: 44px;
	margin-left: 55px;
}
.world_hyper{
	display: block;
	position: absolute;
	margin-top: 486px;
	color: #1fbad6;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
.footer{
	display: flex;
	justify-content: space-between;
	height: 150px;
}